@font-face {
    font-family: 'Whitney Light';
    src: url('./assets/fonts/whitneylight.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Medium';
    src: url('./assets/fonts/whitneymedium.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Bold';
    src: url('./assets/fonts/whitneybold.woff') format('woff');
}

body {
    font-family: Whitney Medium, sans-serif;
    background: url("./assets/images/loginHero.png") center/cover;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nav-list {

    display: flex;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    color: #fff;
    margin: 0 1rem;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.New-link {
    color: #0894DB;
    text-decoration: none;
    display: inline-block;
}

.New-link:hover {
    text-decoration: underline;
}


.container {
    background-color: #313338;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 0.1px;
}

h3 {
    text-align: center;
    color: #B5BAC0;
    font-weight: lighter;
}

p {
    color: #B5BAC0;
    font-weight: lighter;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: lighter;
    color: #B5BAC0;
    margin-bottom: 10px;

}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #313338;
    font-size: 16px;
}

.submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px;
    border-radius: px;

}

input[type="submit"] {
    background-color: #5865F2;
    cursor: pointer;
    color: white;
}

input[type="submit"]:hover {
    background-color: #4752C4;
}